.button-password{
    width: 100%;
    height: 25px;
    background: var(--grey2);
}
.white-buttons:hover{
    border: var(--grey0) solid 1px;
}
.button-form{
    border-radius: 30px;
    color: var(--white-fixed);
    background: var(--grey0);
    border: none;
    height: 25px;
}
.button-form:hover{
    background: var(--grey1);
}
.button-default{
    cursor: pointer;
    border-radius: 30px;
    border: none;
}
.cursor{
    cursor: pointer;
}